<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Actor</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h2>Edit Actor</h2>
        <form action="#" th:action="@{/actor}" method="post" enctype="multipart/form-data">
            <input type="hidden" th:field="*{actor.id}">
            <input type="text" th:field="*{actor.name}" placeholder="Name" class="form-control mb cp-4" required>
            <input type="text" th:field="*{actor.sex}" placeholder="Sex" class="form-control mb cp-4" required>
            <input type="date" th:field="*{actor.DOB}" placeholder="Date of Birth" class="form-control mb cp-4" required></input>
            <textarea th:field="*{actor.bio}" rows="5" placeholder="Bio" class="form-control mb cp-4" required></textarea>
            <button type="submit" class="btn btn-info col-2"> Save </button>
        </form>
        <a th:href = "@{/actors}"> Show all Actors</a>
    </div>
</body>
</html>