<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <style>
        img {
             width: 150px;
             height: auto;
        }
    </style>
</head>
<body>
    <h1>Home Page</h1>
    <a th:href="@{/showNewMovieForm}" class="btn btn-primary btn-sm mb-2"> Add New Movie </a>
    <a th:href="@{/actors}" class="btn btn-primary btn-sm mb-2"> Show All actors </a>
    <a th:href="@{/producers}" class="btn btn-primary btn-sm mb-2"> Show All Producers </a>

    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th> Poster </th>
            <th> Details </th>
            <th> Action </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="movie : ${movies}">
            <td>
                <img th:src="*{'data:' + movie.imgType + ';base64,' + movie.encodedPoster}" alt="Poster of movie"/>
            </td>
            <td>
                <b class="bold" th:text="${movie.name}"></b><br>
                <span th:text="${movie.plot}"></span><br>
                <b class="bold" >Actors:</b>
                <span class="bold" th:text="${movie.actors}"></span><br>
                <b class="bold" >Producer:</b>
                <span class="bold" th:text="${movie.producer}"></span><br>
                <b class="bold" >Year Of Release:</b>
                <span class="bold" th:text="${movie.yearOfRelease}"></span>
            </td>
            <td>
                <a th:href="@{/deleteMovie/{id}(id=${movie.id})}" class="btn btn-danger">Delete</a>
                <a th:href="@{/editMovie/{id}(id=${movie.id})}" class="btn btn-primary">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>