<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Movie Form</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>

    <div class="container">
        <h2>Create Movie</h2>
        <form action="/movie" method="post" enctype="multipart/form-data">
            <input type="text" name="name" placeholder="Title of Movie" class="form-control mb cp-4" required>
            <input type="number" name="yearOfRelease" placeholder="Year Of Release" class="form-control mb cp-4" min="1980" max="2022" required>
            <textarea type="text" name="plot" rows="10" placeholder="Plot of Movie" class="form-control mb cp-4" required></textarea>
            <input type="text" name="producer" placeholder="Producer name" class="form-control mb cp-4" required>
            <input type="text" name="actors" placeholder="Actors names" class="form-control mb cp-4" required>
            <label for="poster" class="btn">Select Poster of Movie:</label>
            <input id="poster" type="file" name="poster" required>
            <button type="submit" class="btn btn-info col-2"> Save </button>
        </form>
        <hr>
        <a th:href = "@{/home}"> Back to Home Page</a>
    </div>

</body>
</html>